<!DOCTYPE html>
<html lang="en">
{{ template "page_head" . }}
<body class="hbox responsive-850">
    <nav class="vbox separated-right">
        {{ template "main_toolbar" . }}
        {{ template "treemenu" .MenuState }}
    </nav>
    <div id="doc-content" class="vbox flex-fill">
        <div class="top-bar-height hbox vertical-align separated-bottom padded">
            {{ template "navbar" . }}
        </div>
        <main class="relative height-below-top-bar hbox responsive-1100 flex-fill separated-children">
            TOTO
        </main>
    </div>
</body>