:root {
    --bg-color: #e5ded9;
    --text-color: #675d55;
    --bg-color-primary: #575172;
    --widget-color: #efebe4;
    --widget-pressed-color: #9a968f;
    --widget-radius: 4px;
    --widget-padding-v: 4px;
    --widget-padding-h: 8px;
    --widget-border-color: #cec7bf;
    --separator-color: #cec7bf;
    --widget-border-style: solid;
    --widget-border-pressed-style: solid;
    --widget-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    --widget-border-width: 1px;
    --btn-min-height: 28px;
}

body {
    color: var(--text-color);
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
textarea,
.text,
.text {
    border-style: solid;
}

.fixed-to-top,
.text-over-img,
.fixed-to-top div,
hazo-popover>label .popover-panel {
    background-color: #e5ded9a3;
    backdrop-filter: blur(10px);
}

.text-over-img {
    padding: 1px 4px;
    border-radius: 14px;
}

.bordered {
    border-radius: var(--widget-radius);
}

.single-content {
    box-shadow: var(--widget-shadow);
}