{{ define "treemenu_entry" }}
<li hx-boost="true" {{ if eq (selectedDoc) .Id }} class="selected" {{ end }}>
    <input type="checkbox" name="open-item-{{ .Id }}" id="open-item-{{ .Id }}" class="display-none visibility-trigger">
    <label for="open-item-{{ .Id }}" class="indent hbox vertical-align clickable">
        <i class="fa-solid fa-chevron-right rotate-90-if-checked-p">&nbsp;</i>
        <div class="min-width-5ch">{{ .Id }}</div>
    </label>
    {{ $variable := taxonUrl . }}
    <a href="{{ $variable }}" hx-target="#doc-content" hx-select="#doc-content" hx-swap="outerHTML">{{ .Name }}</a>
    <a href="{{ $variable }}" hx-target="#doc-content" hx-select="#doc-content" hx-swap="outerHTML">{{ .NameV }}</a>
    <a href="{{ $variable }}" hx-target="#doc-content" hx-select="#doc-content" hx-swap="outerHTML">{{ .NameCN }}</a>
    {{ if .Children }}
        <ul class="contents-if-checked">
        {{ range sortDocs .Children }}
            {{ template "treemenu_entry" . }}
        {{ end }}
        </ul>
    {{ end }}
</li>
{{ end }}