{{ define "treemenu" }}
<div class="height-below-top-bar vbox vertical-scroll">
    <header class="vbox padded separated-bottom fixed-to-top">
        <div class="hbox vertical-align relative">
            <input type="search" name="filter-menu" id="filter-menu" class="flex-fill" placeholder="filter taxons" />
            <i class="search-icon fa-solid fa-search"></i>
        </div>
        <div class="hbox vertical-align">
            <div class="hbox vertical-align btn-group">
                <div class="toggle">
                    <input type="checkbox" checked name="langS" id="langS" /><label for="langS">NS</label>
                </div>
                <div class="toggle">
                    <input type="checkbox" checked name="langV" id="langV" /><label for="langV">NV</label>
                </div>
                <div class="toggle">
                    <input type="checkbox" checked name="langCn" id="langCn" /><label for="langCn">中文名</label>
                </div>
            </div>
            <div class="spacer"></div>
            <div class="btn-group">
                <button><i class="fa-solid fa-plus"></i>
                </button><button><i class="fa-solid fa-minus"></i></button>
            </div>
        </div>
    </header>
    <menu class="text flex-fill tree-view tree-cols-3">
    {{ range sortDocs .Children }}
        {{ template "treemenu_entry" . }}
    {{ end }}
    </menu>
</div>
{{ end }}