{{ define "treemenu" }}
<hazo-treemenu id="tree-menu-container" class="height-below-top-bar vbox vertical-scroll">
    <header class="vbox padded separated-bottom fixed-to-top">
        <form class="hbox vertical-align relative">
            <input type="search" name="filterMenu" id="filter-menu" class="flex-fill" placeholder="filter taxons"
                hx-get=""
                hx-trigger="keyup delay:500ms changed"
                hx-swap="outerHTML"
                hx-select="#main-menu" hx-target="#main-menu" />
            <i class="search-icon fa-solid fa-search"></i>
        </form>
        <div class="hbox vertical-align">
            <div class="hbox vertical-align btn-group">
                {{ range .Langs }}
                <a href="{{ .Url }}" class="btn toggle {{ if .Selected }}primary{{ end }}"
                    hx-get="{{ .Url }}"
                    hx-push-url="true"
                    hx-swap="outerHTML"
                    hx-select="#tree-menu-container" hx-target="#tree-menu-container">
                    {{ .Name }}
                </a>
                {{ end }}
            </div>
            <div class="spacer"></div>
            <div class="btn-group">
                <button><i class="fa-solid fa-plus"></i>
                </button><button><i class="fa-solid fa-minus"></i></button>
            </div>
        </div>
    </header>
    <menu id="main-menu" hx-boost="true" class="text flex-fill tree-cols-{{ .ColumnsCount }}">
    {{ range sortDocs .Root.Children }}
        {{ template "treemenu_entry" . }}
    {{ end }}
    </menu>
</hazo-treemenu>
{{ end }}