hazo-treemenu>menu {
    display: grid;
    grid-template-columns: min-content repeat(calc(1 + var(--tree-column-number)), auto);
    align-content: start;
}

hazo-treemenu>menu.text {
    padding-left: 6ch;
}

hazo-treemenu .selected>a:last-of-type,
hazo-treemenu li:hover > a:last-of-type {
    border-radius: var(--widget-radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

hazo-treemenu .selected> .left-decorum,
hazo-treemenu li:hover > .left-decorum {
    border-radius: var(--widget-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

hazo-treemenu .selected> .left-decorum,
hazo-treemenu li:hover > .left-decorum,
hazo-treemenu li:hover>a {
    background-color: var(--bg-color-primary);
    color: var(--text-color-primary);
}

hazo-treemenu .tree-cols {
    --tree-column-number: 1;
}

hazo-treemenu .tree-cols-2 {
    --tree-column-number: 2;
}

hazo-treemenu .tree-cols-3 {
    --tree-column-number: 3;
}

hazo-treemenu .tree-cols-4 {
    --tree-column-number: 4;
}

hazo-treemenu .tree-cols-5 {
    --tree-column-number: 5;
}

hazo-treemenu .tree-cols-6 {
    --tree-column-number: 6;
}

hazo-treemenu .tree-cols-7 {
    --tree-column-number: 7;
}

hazo-treemenu .tree-cols-8 {
    --tree-column-number: 8;
}

hazo-treemenu li>* {
    border-left: 1px solid var(--separator-color);
    border-radius: 0;
}

hazo-treemenu li.selected>*,
hazo-treemenu li:hover>* {
    border-color: var(--bg-color-primary);
}

hazo-treemenu li>a {
    padding: 4px;
}

hazo-treemenu li>*:nth-child(2) {
    border-left: none;
}

hazo-treemenu li>*:nth-child(3) {
    border-left: none;
}

hazo-treemenu li>.indent {
    width: 0ch;
}

hazo-treemenu li li>.indent {
    width: 5ch;
}

hazo-treemenu li li li>.indent {
    width: 10ch;
}

hazo-treemenu li li li li>.indent {
    width: 15ch;
}

hazo-treemenu li li li li>.indent {
    width: 18ch;
}

hazo-treemenu li li li li>.indent {
    width: 20ch;
}