{{ define "book_info" }}
{{ range . }}
<details class="separated-bottom">
    <summary class="padded">{{ .Name }}</summary>
    <form action="" class="form-2-col vertical-align padded">
        <label for="fasc">Book</label><input type="text" name="fasc" id="fasc" value="{{ .Fasc.Int64 }}" />
        <label for="page">Page</label><input type="text" name="page" id="page" value="{{ .Page.Int64 }}" />
        <label for="bookText">Details</label>
        <div>
            <input id="book-info-{{ .Ref }}" value="{{ .Details.String }}" type="hidden" name="book-info-{{ .Ref }}">
            <trix-editor input="book-info-{{ .Ref }}" class="text"></trix-editor>
        </div>
    </form>
</details>
{{ end}}
{{ end }}