hazo-splitpane-gutter {
    width: var(--widget-padding-h);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: col-resize;
    border-right: 1px solid var(--separator-color);
}

*:has(> hazo-splitpane-gutter) {
    padding-left: var(--widget-padding-h);
}