{{ define "main_toolbar" }}
<form method="POST" class="top-bar-height hbox vertical-align padded separated-bottom">
    <div hx-boost="true" class="btn-group hbox vertical-align">
        <a class="btn" href="/" title="home"><i class="fa-solid fa-home"></i></a>
        {{ template "popover" .AvailableDatasets }}
    </div>
    <div class="spacer"></div>
    <a class="btn" download="{{ .DatasetName }}.json" title="export" href="../json"><i class="fa-solid fa-file-export"></i></a>
    {{ template "checklist_popover" .LangsCheckList }}
    <!-- 
    <div class="btn-group hbox vertical-align">
        <button title="save" class="success"><i class="fa-solid fa-save"></i></button>
        <button title="export"><i class="fa-solid fa-file-export"></i></button>
        <button title="print"><i class="fa-solid fa-print"></i></button>
    </div>
    <div class="spacer"></div>
    <button><i class="fa-solid fa-bars"></i></button>
    <div class="separator"></div>
    <button><i class="fa-solid fa-close"></i></button> -->
</form>
{{ end }}