<!DOCTYPE html>
<html lang="en">
{{ template "page_head" }}
<body class="single-content">
    <div class="hbox top-bar-height separated-bottom vertical-align padded">
        <h1>Log in</h1>
    </div>
    <form method="POST" id="login-form" class="form-2-col padded">
        <label for="login">Login</label>
        <input type="text" name="login" id="login" placeholder="login">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="password">
    </form>

    <article class="padded vbox horizontal-align">
        {{ if .ErrorMessage }}
        <p class="error-colors padded bordered">{{ .ErrorMessage }}</p>
        {{ end }}
    
        <input type="submit" form="login-form" value="Login"/>
        
        <p class="separated-top separated-bottom">or</p>
        
        <a href="/auth/microsoft/login" class="btn">
            <i class="fa-solid fa-building"></i> Login with Microsoft
        </a>
    </article>
</body>
</html>