{{ define "picture_box" }}
<div class="vbox padded">
    <a class="hbox horizontal-align text" id="pictureLink">
        <img class="illustration" src="{{ .Source }}" alt="Some plant"></img>
    </a>
    <dialog id="pictureDialog">
        <div class="vbox">
            <div class="hbox vertical-align padded separated-bottom">
                <h1>{{ .Name }}</h1>
                <div class="spacer"></div>
                <button autofocus id="pictureDialogCloseBtn"><i class="fa-solid fa-close"></i></button>
            </div>
            <img class="fullscreen-img" src="{{ .Source }}" alt="Some plant"></img>
        </div>
    </dialog>
    <div class="hbox vertical-align">
        <div class="btn-group">
            <button><i class="fa-solid fa-arrow-left"></i>
            </button><button><i class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div class="padded nowrap">{{ .Index }} / {{ .Count }}</div>
        <div class="btn-group hbox flex-fill">
            <button><i class="fa-solid fa-upload"></i>
            </button><input type="text" class="flex-fill" placeholder="add a picture" /><button>
                <i class="fa-solid fa-file-lines"></i>
            </button><button class="primary"><i class="fa-solid fa-plus"></i></button>
        </div>
    </div>
</div>
{{ end }}