<!DOCTYPE html>
<html lang="en">
{{ template "page_head" . }}
<body class="hbox responsive-850">
    <nav class="vbox separated-right">
        {{ template "main_toolbar" . }}
        {{ template "treemenu" .MenuState }}
    </nav>
    <div id="doc-content" class="vbox flex-fill">
        <div class="top-bar-height hbox vertical-align separated-bottom padded">
            {{ template "navbar" . }}
        </div>
        <main class="relative height-below-top-bar hbox responsive-1100 flex-fill separated-children">
            <section class="vertical-scroll vbox flex-fill">
                <header class="hbox vertical-align padded separated-bottom fixed-to-top">
                    <h1>Properties</h1>
                    <div class="spacer"></div>
                    <div class="btn-group">
                        <button><i class="fa-solid fa-magnifying-glass"></i>
                        </button><button><i class="fa-solid fa-close"></i></button>
                    </div>
                </header>
                <details open class="separated-bottom">
                    <summary class="padded">Pictures</summary>
                    {{ template "picture_box" .PictureBoxModel }}
                </details>
                {{ template "taxon_form" .SelectedTaxon }}
                <details class="separated-bottom">
                    <summary class="padded">Flore de Madagascar et Comores</summary>
                    <form action="" class="form-2-col vertical-align padded">
                        <label for="fasc">Bool</label><input type="text" name="fasc" id="fasc" />
                        <label for="page">Page</label><input type="text" name="page" id="page" />
                        <label for="bookText">Text</label><textarea name="bookText" id="bookText" cols="30" rows="10"></textarea>
                    </form>
                </details>
                <details class="separated-bottom">
                    <summary class="padded">Manuel de Botanique Forestière</summary>
                    <form action="" class="form-2-col vertical-align padded">
                        <label for="fasc2">Bool</label><input type="text" name="fasc2" id="fasc2" />
                        <label for="page2">Page</label><input type="text" name="page2" id="page2" />
                        <label for="bookText2">Text</label><textarea name="bookText2" id="bookText2" cols="30" rows="10"></textarea>
                    </form>
                </details>
                <details class="separated-bottom">
                    <summary class="padded">Additional Text</summary>
                    <form action="" class="form-2-col vertical-align padded">
                        <label for="additionalText">Text</label><textarea name="additionalText" id="additionalText" cols="30" rows="10"></textarea>
                    </form>
                </details>
            </section>
            <section class="vertical-scroll vbox flex-fill">
                <header class="hbox vertical-align padded separated-bottom fixed-to-top">
                    <h1>Descriptors</h1>
                    <div class="spacer"></div>
                    <div class="btn-group">
                        <button><i class="fa-solid fa-magnifying-glass"></i>
                        </button><button><i class="fa-solid fa-close"></i></button>
                    </div>
                </header>
                <div class="vbox flex-fill">
                    <div class="vbox fixed-to-top separated-bottom padded">
                        <div class="hbox vertical-align relative">
                            <input type="search" name="filter-descriptors" id="filter-descriptors" class="flex-fill" placeholder="filter descriptors" />
                            <i class="search-icon fa-solid fa-search"></i>
                        </div>
                        {{ template "breadcrumbs" .DescriptorsBreadCrumbsState }}
                    </div>
                    {{ template "icon_menu" .Descriptors }}
                </div>
            </section>
            <section class="vertical-scroll vbox flex-fill">
                <header class="hbox vertical-align padded separated-bottom fixed-to-top">
                    <h1>Summary</h1>
                    <div class="spacer"></div>
                    <div class="btn-group">
                        <button><i class="fa-solid fa-magnifying-glass"></i>
                        </button><button><i class="fa-solid fa-close"></i></button>
                    </div>
                </header>
                {{ template "summary" .SummaryModel }}
            </section>
        </main>
    </div>
</body>
</html>